---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import BioListItem from '../components/BioListItem.astro'

interface MarkdownFrontmatter {
  date: number;
}

interface BookReviewMarkdownFrontmatter {
date: number;
}

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Thomas Wilson';
let description = 'Thomas Wilson is building software and engineering teams with socially responsible companies';
let permalink = 'https://www.thomaswilson.xyz';

// Data Fetching: List all Markdown posts in the repo.

// let allBlogPosts = Astro.fetchContent<MarkdownFrontmatter>('./blog/*.md');

let allContent = Astro.fetchContent<BookReviewMarkdownFrontmatter>('../content/**/*.md');

// allBlogPosts = allBlogPosts.sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());
allContent = allContent.sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf()).slice(0, 10);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---



<html lang="en" class='font-sans'>
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
    <link rel="stylesheet" href={Astro.resolve('../styles/home.css')} >
  </head>

  <body class="px-3 sm:px-2">
    <div class="grid place-content-center">
      <main class="max-w-2xl">
        <section class="home__bio">
          <h1 class="bio__title">{title}</h1>
          <p class="bio__strapline">Hi, I build web software and lead engineering teams with socially responsible<span class="color-brand-orange text-sm md:text-md"><a class="super-two"href="#footnote-2">†</a></span> companies.</p>
          <ul class="bio__list">
            <BioListItem imageSrc='/assets/images/oxwash.svg' >
              Right now I'm leading software engineering at <a id="oxwash" href="https://www.oxwash.com">Oxwash</a>, we're building the sustainable and scalable future of laundry.  
            </BioListItem>

            <BioListItem imageSrc='/assets/images/layout.svg'>
              I'm a software engineer who likes to build products people don't hate to use.  I've done that in Education and Data Privacy, and I have Ph.D. in Education Technology.
            </BioListItem>

            <BioListItem imageSrc='/assets/images/article.svg'>
              At least once a month I write on the <a href="/blog" class="underline color-brand-orange">Blog</a>.  Or at least I try to.  I write about things that interest me, which is sometimes how to build software.
            </BioListItem>
            <BioListItem imageSrc='/assets/images/bicycle.svg'>
            I like good food and dry gin, long bike rides in the sun, well-written books, and lists.
            </BioListItem>

            
          </ul>
          
          <div class="flex flex-col">
            <p id="footnote-2" class="footnote-text"><span class="color-brand-orange pr-1">†</span>Companies working to solve systemic problems or inequality in environmental, social, healthcare, or education.</p>
          </div>
          
        </section>
        <section aria-label="Blog post list">
        <div class="recent-writing">
          <h2 class="recent-writing__title">Recent writing</h2>
          <a href="/blog" class="recent-writing__link">Read all</a>
        </div>
          <ul id="recent-posts" class="space-y-2">
            {allContent.map(p => <BlogPostPreview post={p} />)}
          </ul>
        </section>
      </main>
    </div>
  </body>
</html>

