---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import BioListItem from '../components/BioListItem.astro'

interface MarkdownFrontmatter {
  date: number;
}

interface BookReviewMarkdownFrontmatter {
date: number;
}

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Thomas Wilson';
let description = 'Thomas Wilson is building software and engineering teams with socially responsible companies';
let permalink = 'https://www.thomaswilson.xyz';

// Data Fetching: List all Markdown posts in the repo.

// let allBlogPosts = Astro.fetchContent<MarkdownFrontmatter>('./blog/*.md');

let allContent = Astro.fetchContent<BookReviewMarkdownFrontmatter>('../content/**/*.md');

// allBlogPosts = allBlogPosts.sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());
allContent = allContent.sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf()).slice(0, 10);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<style>

.bio__title {
    font-size: var(--font-size-100);
    font-weight: 400;
    color: var(--tw-orange);
}

  .bio__strapline {
      font-size: var(--font-size-300);
      line-height: 115%;
      font-weight:300;
  }

  .bio__list {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: var(--base-px);
      font-size: var(--font-size-200);
      line-height: 150%;
      font-weight: 300;
      list-style: disc;
      color: var(--grey-800);
      padding: calc(2 * var(--base-px)) 0;
  }

  .recent-posts {
    border: 2px solid var(--tw-orange);
    border-radius: var(--border-radius-100);
    padding: var(--base-px);
    margin-bottom: calc(2 * var(--base-px));
  }

  .recent-writing-header__title {
    padding-bottom: var(--base-px);
  }

  .recent-posts__list { 
    display: grid; 
    gap: calc(2 * var(--base-px));
    grid-template-columns: 1fr;
  }
</style>



<html lang="en" class='font-sans'>
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
    <link rel="stylesheet" href={Astro.resolve('../styles/home.css')} >
  </head>

  <body class="px-3 sm:px-2">
    <div class="grid place-content-center">
      <main class="max-w-2xl">
        <section class="home__bio">
          <h1 class="bio__title">{title}</h1>
          <p class="bio__strapline">Hi, I build software and lead engineering teams with socially responsible<span class="color-brand-orange text-sm md:text-md"><a class="super-two"href="#footnote-2">†</a></span> companies.</p>
          <ul class="bio__list">
            <BioListItem imageSrc='/assets/images/oxwash.svg' >
              Right now I'm leading software engineering at <a id="oxwash" href="https://www.oxwash.com">Oxwash</a>, we're building the sustainable and scalable future of laundry.  
            </BioListItem>

            <BioListItem imageSrc='/assets/images/laptop.svg'>
              I'm a software engineer who likes to build products people don't hate to use.  I've done that in Education, Data Privacy, and Laundry, and I have Ph.D. in Education Technology.
            </BioListItem>

            <BioListItem imageSrc='/assets/images/article.svg'>
              At least once a month I write on the <a href="/blog" class="underline color-brand-orange">Blog</a>.  Or at least I try to.  I write about things that interest me, which is sometimes how to build software.
            </BioListItem>
            <BioListItem imageSrc='/assets/images/bicycle.svg'>
            I like good food and dry gin, long bike rides in the sun, well-written books, and lists.
            </BioListItem>

            
          </ul>
          
          <div class="flex flex-col">
            <p id="footnote-2" class="footnote-text"><span class="color-brand-orange pr-1">†</span>Companies working directly on environmental, social, healthcare, or education problems.</p>
          </div>
          
        </section>
        <section aria-label="Blog post list" class="recent-posts">
        <div class="recent-writing-header">
          <h2 class="recent-writing-header__title">Recent writing</h2>
          <a href="/blog" class="recent-writing-header__link">Read all</a>
        </div>
        <div >
          <ul class="recent-posts__list">
            {allContent.map(p => <BlogPostPreview post={p} />)}
            <li>
            <a href="/blog" class="recent-writing-header__link">There's more</a></li>
          </ul>

          </div>
        </section>
      </main>
      
    </div>
  </body>
</html>

