---
export interface Props {
  post: {
    date: Date, 
    book_review?: boolean 
  }
}

const { post } = Astro.props;

const makeUrl = (post) => {
  if (post.book_review) {
    return `/book-reviews/${post.slug}`
  }

   return `/blog/${post.slug}`
}

const makeTitle = (post) => {
  if (post.book_review) {
    return `📖 ${post.title}`;
  }

   return post.title;
}
---

<style>
  .preview {
    border: 1px solid var(--grey-200);
    padding: var(--space-200);
    border-radius: var(--border-radius-100);
    display: flex;
    flex-flow: column;
    transform: scale(1);
    transition: transform 0.1s;
  }

  .preview:hover {
    transform: scale(1.03);
    transition: transform 0.2s;
  }

  .preview__title {
    font-size: var(--font-size-100);
  }
</style>


<li>
  <a href={makeUrl(post)} class="preview hover:shadow-md" >
    <h2 class="preview__title" >
      {makeTitle(post)}
    </a>
    <p class="text-gray-500 text-sm">{Intl.DateTimeFormat().format(new Date(post.date))}</p>
    
  </a>
</li>


