---
import { Markdown } from 'astro/components';
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPost from '../components/BlogPost.astro';

const {content} = Astro.props;
const {title, description, date, author, permalink} = content;
---
<html lang={ content.lang || 'en' }>
    <head>
        <link rel="stylesheet" href={Astro.resolve('../styles/global.css')} >
        <link rel="stylesheet" href={Astro.resolve('../styles/inter.css')} >
        <BaseHead title={title} description={description} permalink={permalink} />
        <link rel="stylesheet" href={Astro.resolve('../styles/blog.css')} />
    </head>

    <body class="px-6 md:px-0">
        <!-- <BlogHeader /> -->
        <div class="layout">
            <header class='flex w-full flex-col items-center pt-4 pb-8'>
                <div class="text-center pb-2">
                    <a href="/" class="text-lg underline" style="color: var(--colour-brand);">Review by Thomas Wilson</a>    
                    
                    <p class="publish-date">{Intl.DateTimeFormat().format(new Date(date))}</p>
                </div>
                <h1 class="text-6xl text-center" style="max-width:15ch;">{title}</h1>
                <span class="text-lg underline" style="color: var(--colour-brand);">Written by {author}</span>    
            </header>
        </div>
        <div class="flex justify-center w-full">
        <article class="max-w-prose text-lg space-y-2">
            <slot />
        </article>
        </div>

    </body>
</html>

